<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
</head>

<body>
    <form action="/create" method="POST">

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        <br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <br><br>

        <label for="date">Date Made:</label>
        <input type="date" id="date_made" name="date" required>
        <br><br>

        <label for="num_of">Num of:</label>
        <select id="num_of" name="num_of">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <input type="submit" value="Submit">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}


    </form>

</body>

</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
    <!-- Adding Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <form action="/create" method="POST">
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="date">Date Seen:</label>
                <input type="date" id="date_made" name="date" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="num_of">Num of:</label>
                <select id="num_of" name="num_of" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success mt-3" role="alert">
            {% for message in messages %}
            <p class="mb-0">{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <!-- Adding Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6"></script>
</body>

</html>

