<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Sasquatch Websighting {{user.first_name}}'s</h1>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-4">
                <a href="/new" class="btn btn-info">Report a Sighting</a>
            </div>
            <div class="col-4">
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Location</th>
                <th>Desciption</th>
                <th>Date</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
                {% for sighting in sightings %}
                <tr>
                    <td>{{sighting.location}}</td>
                    <td>{{sighting.description}}</td>
                    <td>{{sighting.date}}</td>
                    {% if sighting.user_id == session["user_id"] %}
                    <td><button class="btn btn-secondary"> <a href="/update/{{sighting.id}}">Edit</a></button><button class="btn btn-secondary"> <a href="/view/{{sighting.id}}">View Now</a></button><button class="btn btn-danger"><a href="/delete/{{sighting.id}}">Delete</a></button></td>
                    {% else %}
                    <td><button class="btn btn-secondary"> <a href="/view/{{sighting.id}}">View Now</a></button></td>
                    {% endif %} 
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6"></script>
</body>
</html>

