<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-TU17Z5h5NbuIO6gfl70wAlYrV7m1yGk9pLLcru28L+CmV7pmuZtvzs1V7Q2wCz7vYKj2Wz7P9q3hTV17g59U5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <form action="/register" method="post" class="p-4 bg-dark text-light">
                    <h2 class="text-primary mb-4">Register</h2>
                    {% with messages = get_flashed_messages(category_filter=['register']) %}
                        {% if messages %}
                        <div class="alert alert-success" role="alert">
                            <strong>HEY HEY HEY FILL IT OUT CORRECTLY...PLEASE!!!</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" name="first_name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name:</label>
                        <input type="text" name="last_name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="confirm" class="form-label">Confirm Password:</label>
                        <input type="password" name="confirm" class="form-control">
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-4">
                <form action="/login" method="post" class="p-4 bg-dark text-light">
                    <h2 class="text-info mb-4">Login</h2>
                    {% with messages = get_flashed_messages(category_filter=['login']) %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>WHOA! SOMETHINGS WRONG!!</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <input type="submit" value="Log-In" class="btn btn-primary">
                    <div class="mb-3">

